<%- include('include/head.ejs') %>
<main>
    <div class="flex items-center flex-col w-full m-2 p-2">
        <h1 class="w-full border"><%= user.number %></h1>
        <h1 class="w-full border"><%= user.email %></h1>
        <h1 class="w-full border"><%= user.name %></h1>
        <h1 class="w-full border"><%= user.avatar %></h1>
        <h1 class="w-full border"><%= user.password %></h1>
    </div>

   
    <a href="/edit/<%= user._id %>">Мэдээлэл засах</a>
</main>
<%- include('include/foot.ejs') %>